<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

  <div class="menu_section">
    <h3><%= current_user.first_name %> </h3>
    <br>


    <ul class="nav side-menu">
      <% if user_signed_in? %>
      <li class="active">
        <%= link_to '<i class="fa fa-tachometer"></i> Dashboard'.html_safe, dashboard_path(@user) %>

      </li>
      <li>
        <% if current_user.has_answered_quiz?  %>
          <%= link_to '<i class="fa fa-upload"></i> Health Upload'.html_safe, health_upload_path(@user) %>
        <% elsif current_user.pdpa == nil || false %>
          <%= link_to '<i class="fa fa-upload"></i> Health Upload'.html_safe, pdpa_path(@user) %>
        <% else %>
          <%= link_to '<i class="fa fa-upload"></i> Health Upload'.html_safe, questionaire_path(@user) %>
        <% end %>

      </li>
      <li>
      <% if current_user.has_answered_quiz? %>
        <%= link_to '<i class="fa fa-folder-open"></i> Health Record'.html_safe, health_record_path(@user)%>
      <% else %>
          <%= link_to '<i class="fa fa-folder-open"></i> Health Record'.html_safe, questionaire_path(@user)%>
      <% end %>

      </li>

      <li>
        <% if current_user.has_answered_quiz? %>
          <%= link_to '<i class="fa fa-pencil-square-o"></i> Health Diary'.html_safe, daily_update_path(@user)%>
        <% else %>
          <%= link_to '<i class="fa fa-pencil-square-o"></i> Health Diary'.html_safe, questionaire_path(@user)%>
        <% end %>
      </li>
      <li>
        <a><i class="fa fa-user"></i> Account <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none;">
          <li>
            <!-- edit_user_path -->

            <%= link_to 'Update Info', edit_user_path(@user)%>
          </li>
          <li>
            <%= link_to 'Update Password', edit_user_registration_path(@user)%>
          </li>
        </ul>
      </li>
      <li>
         <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    </ul>
    <% end %>
  </div>
</div>
