<p id="notice"><%= notice %></p>

<h1>Listing Healths</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Details</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healths.each do |health| %>
      <tr>
        <td><%= health.user %></td>
        <td><%= health.subject %></td>
        <td><%= health.details %></td>
        <td><%= health.file %></td>
        <td><%= link_to 'Show', health %></td>
        <td><%= link_to 'Edit', edit_health_path(health) %></td>
        <td><%= link_to 'Destroy', health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health', new_health_path %>
