<br>

<!-- <p id="notice"><%#= notice %></p> -->

<div class="content-section-login center">
        <div class="container" style="margin-top: 100px; margin-bottom: 100px;>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" style="text-align: center;">Get Started Now</h2>

                    <div class="row">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>
                      <div class="col-md-offset-2 col-md-8">

                        <br>
                        <div class="row">
                          <div class="col-md-12">
                            <%= f.email_field :email, autofocus: true, class:"form-control", id:"email", placeholder:"E-mail" %>
                            <!-- <input type="email" class="form-control" id="email" placeholder="Email"> -->
                          </div>
                        </div>

                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %>
                            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
                            <!-- <input type="password" class="form-control" id="password" placeholder="Password"> -->
                          </div>
                          <div class="col-md-6">
                            <br>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Password Confirmation" %>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <label><input type="checkbox"> I have read and accept the <br>
                            <a href="#">VITALSYNAPSE terms and conditions</a>
                            </label>
                          </div>
                          <div class="col-md-6">
                            <%= f.submit "Sign up", class:"btn btn-success btn-block"  %>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </div>
                    <!-- row end-->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
