

      Glucose upload:-
     <%= nested_form_for @user do |f| %>

      <div class="healthrecord">
        <%= f.fields_for :glucoses do |task_form| %>
           Date Taken<%= task_form.date_field :date_taken %>
           Time Taken<%= task_form.date_field :time_taken %>
           Reading<%= task_form.text_field :measurement %>
           <%= task_form.select :context, Glucose.contexts.keys.to_a %><!-- to fill up enum values -->
          <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
          <%= task_form.submit "submit", class: "btn btn-warning" %>
        <% end %>
      </div>

      <%= f.link_to_add "Add a New Record", :glucoses, class: "btn btn-info new-record"%>

    <% end %>
      <div class="healthupload">
        <h3> Glucose Record </h3>
            <table class="table">
              <thead>
                <tr>
                  <td> Date Taken</td>
                  <td>  Time Taken </td>
                  <td> Measurement </td>
                  <td> Index </td>

                </tr>
              </thead>

              <tbody>
                <%if @user_glucose!= nil  %>
                <%  @user_glucose.all.each do |health_record| %>
                 <tr>

                   <td><%= health_record.measurement%> </td>
                   <td><%= health_record.context %> </td>
                   <td><%= health_record.date_taken%> </td>
                   <td><%= health_record.time_taken%></td>

                 </tr>
                 <% end %>
               <% end %>
              </tbody>
            </table>
          </div>





      Pressure upload:-
     <%= nested_form_for @user do |f| %>

      <div class="healthrecord">
        <%= f.fields_for :pressures do |task_form| %>
           date taken<%= task_form.date_field :date_taken %>
           time taken<%= task_form.time_field :time_taken %>
           DBP<%= task_form.text_field :dpb %>
           Remark <%= task_form.select :context, Pressure .contexts.keys.to_a %>
          <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
          <%= task_form.submit "submit", class: "btn btn-warning" %>
        <% end %>
      </div>

      <%= f.link_to_add "Add a New Record", :pressures, class: "btn btn-info new-record"%>

    <% end %>
    <div class="healthupload">
      <h3> Pressure Record </h3>
          <table class="table">
            <thead>
              <tr>
                <td> sbp </td>
                <td> dpb </td>
                <td> Index</td>
                <td> Date Taken </td>
                <td> Time Taken </td>
              </tr>
            </thead>

            <tbody>
              <%if @user_pressure != nil  %>
              <%  @user_pressure.all.each do |health_record| %>
               <tr>

                 <td><%= health_record.sbp %> </td>
                 <td><%= health_record.dpb %> </td>
                 <td><%= health_record.context %> </td>
                 <td><%= health_record.date_taken%> </td>
                 <td><%= health_record.time_taken%></td>

               </tr>
               <% end %>
             <% end %>
            </tbody>
          </table>
        </div>



    Respiratory:-
        <%= nested_form_for @user do |f| %>

        <div class="healthrecord">
          <%= f.fields_for :respiratories do |task_form| %>
             Date Taken <%= task_form.date_taken :date_taken %>
             Time Taken <%= task_form.text_field :time_taken %>
             Measurement <%= task_form.text_field :measurement %>
             Index <%= task_form.select :index, Respiratory.indexs.keys.to_a %>
            <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
            <%= task_form.submit "submit", class: "btn btn-warning" %>
          <% end %>
        </div>

        <%= f.link_to_add "Add a New Record", :bmis, class: "btn btn-info new-record"%>

        <% end %>

        <div class="healthupload">
        <h3> Respiratory Record </h3>
            <table class="table">
              <thead>
                <tr>
                  <td> Measurement </td>
                  <td> Index </td>
                  <td> Time Taken </td>
                  <td> Date Taken</td>
                </tr>
              </thead>

              <tbody>
                <%if @user_lungs != nil  %>
                <%  @user_lungs.all.each do |health_record| %>
                 <tr>

                   <td><%= health_record.measurement %> </td>
                   <td><%= health_record.index %> </td>
                   <td><%= health_record.time_taken %> </td>
                   <td><%= health_record.date_taken%> </td>

                 </tr>
                 <% end %>
               <% end %>
              </tbody>
            </table>
          </div>






    Clinical REcord upload:-
   <%= nested_form_for @user do |f| %>

    <div class="healthrecord">
      <%= f.fields_for :clinic_records do |task_form| %>
         <%#= task_form.hidden_field :title, value: "BLOOD" %>
         PROBLEM<%= task_form.text_field :problem %>
         DIAGNOSIS<%= task_form.text_field :diagnosis %>
         TREATMENT<%= task_form.text_field :treatment %>
         CLINICAL NAME <%= task_form.text_field :clinic_name %>
         COST <%= task_form.text_field :cost %>
         DATE<%= task_form.date_field :visit_date%>
         TIME<%= task_form.time_field :visit_time%>>

        <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
        <%= task_form.submit "submit", class: "btn btn-warning" %>
      <% end %>
    </div>

    <%= f.link_to_add "Add a New Record", :clinic_records, class: "btn btn-info new-record"%>

  <% end %>
  <div class="healthupload">
    <h3> Clinic Record </h3>
        <table class="table">
          <thead>
            <tr>
              <td> Problem </td>
              <td> Diagnosis </td>
              <td> Treatment</td>
              <td> Clinic Name</td>
              <td> Cost</td>
              <td> Date</td>
              <td> Time </td>
            </tr>
          </thead>

          <tbody>
            <%if @user_clinics != nil  %>
            <%  @user_clinics.all.each do |health_record| %>
             <tr>

               <td><%= health_record.problem %> </td>
               <td><%= health_record.diagnosis %> </td>
               <td><%= health_record.treatment %> </td>
               <td><%= health_record.clinic_name %> </td>
               <td><%= health_record.cost %> </td>
               <td><%= health_record.visit_date%> </td>
               <td><%= health_record.visit_time%></td>

             </tr>
             <% end %>
           <% end %>
          </tbody>
        </table>
      </div>





  BMI upload:-
 <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :bmis do |task_form| %>
       <%#= task_form.hidden_field :title, value: "BLOOD" %>
       HEIGH <%= task_form.text_field :height %>
       WEIGHT<%= task_form.text_field :weight %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :bmis, class: "btn btn-info new-record"%>

<% end %>

<div class="healthupload">
  <h3> BMI Record </h3>
      <table class="table">
        <thead>
          <tr>
            <td> Height </td>
            <td> Weight </td>
            <td> BMI </td>
            <td> Date</td>
            <td> Time </td>
          </tr>
        </thead>

        <tbody>
          <%if @user_bmi != nil  %>
          <%  @user_bmi.all.each do |health_record| %>
           <tr>

             <td><%= health_record.height %> </td>
             <td><%= health_record.weight %> </td>
             <td><%= health_record.bodymassindex %> </td>
             <td><%= health_record.created_at.strftime('%v')%> </td>
             <td><%= health_record.created_at.strftime('%H')%></td>

           </tr>
           <% end %>
         <% end %>
        </tbody>
      </table>
    </div>









</div>
</div>

<script>

   $( ".healthrecord" ).hide();


</script>
