<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="css/sidebar.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->





        health for blood:-
       <%= nested_form_for @user do |f| %>
       <% Rails.logger.info ">>> @user at view #{@user.inspect}" %>
        <div class="healthrecord">
          <%= f.fields_for :healths, wrapper:false do |task_form| %>
             <%= task_form.hidden_field :record_category_id, value: 1 %>
             <%= task_form.file_field :file %>
            <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
            <%= task_form.submit "submit", class: "btn btn-warning" %>
          <% end %>
        </div>

        <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

      <% end %>

      health for urine:-
     <%= nested_form_for @user do |f| %>

      <div class="healthrecord">
        <%= f.fields_for :healths do |task_form| %>
           <%= task_form.hidden_field :record_category_id, value: 2%>
           <%= task_form.file_field :file %>
          <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
          <%= task_form.submit "submit", class: "btn btn-warning" %>
        <% end %>
      </div>

      <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

    <% end %>


    health for xray
   <%= nested_form_for @user do |f| %>

    <div class="healthrecord">
      <%= f.fields_for :healths do |task_form| %>
         <%= task_form.hidden_field :record_category_id, value: 3%>
         <%= task_form.file_field :file %>
        <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
        <%= task_form.submit "submit", class: "btn btn-warning" %>
      <% end %>
    </div>

    <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>

    health for xray
   <%= nested_form_for @user do |f| %>

    <div class="healthrecord">
      <%= f.fields_for :healths do |task_form| %>
         <%= task_form.hidden_field :record_category_id, value: 4%>
         <%= task_form.file_field :file %>
        <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
        <%= task_form.submit "submit", class: "btn btn-warning" %>
      <% end %>
    </div>

    <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>

  health for scopes
  <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :healths do |task_form| %>
       <%= task_form.hidden_field :record_category_id, value: 5%>
       <%= task_form.file_field :file %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>

  health for ultrasound
  <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :healths do |task_form| %>
       <%= task_form.hidden_field :record_category_id, value: 6%>
       <%= task_form.file_field :file %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>


  health for ct scan
  <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :healths do |task_form| %>
       <%= task_form.hidden_field :record_category_id, value: 7%>
       <%= task_form.file_field :file %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>


  health for mri
  <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :healths do |task_form| %>
       <%= task_form.hidden_field :record_category_id, value: 8%>
       <%= task_form.file_field :file %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>

  health for petscan
  <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :healths do |task_form| %>
       <%= task_form.hidden_field :record_category_id, value: 9%>
       <%= task_form.file_field :file %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>

  health for dental profile
  <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :healths do |task_form| %>
       <%= task_form.hidden_field :record_category_id, value: 10%>
       <%= task_form.file_field :file %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :healths, class: "btn btn-info new-record"%>

  <% end %>







]

<script>



</script>
