<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="css/sidebar.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div id="wrapper">
<div class="container" id="dashboardbody">



      <div class="healthupload">
        <h3> Health Upload </h3>
        <%if @user_health != nil  %>

            <table class="table">
              <thead>
                <tr>
                  <td> Subject </td>
                  <td> Details </td>
                  <td> Date</td>
                  <td> File </td>
                </tr>
              </thead>

              <tbody>
                 <tr>
                   <%  @user_health.all.each do |health_record| %>
                   <td><%= health_record.subject%> </td>
                   <td><%= health_record.details %> </td>
                   <td><%= health_record.created_at.strftime('%v')%> </td>
                   <td><%= image_tag(health_record.file.url, :width => 100, :height => 100)%></td>

                 </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>


        BLOOD UPLOAD:-
       <%= nested_form_for @user do |f| %>

        <div class="healthrecord">
          <%= f.fields_for :bloods do |task_form| %>
             <%= task_form.hidden_field :title, value: "BLOOD" %>
             <%= task_form.file_field :blood_file %>
            <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
            <%= task_form.submit "submit", class: "btn btn-warning" %>
          <% end %>
        </div>

        <%= f.link_to_add "Add a New Record", :bloods, class: "btn btn-info new-record"%>

      <% end %>

      URINE :-
      <%= nested_form_for @user do |f| %>

       <div class="healthrecord">
         <%= f.fields_for :urines do |task_form| %>
            <%= task_form.hidden_field :title, value: "URINE" %>
            <%= task_form.file_field :urine_file %>
           <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
           <%= task_form.submit "submit", class: "btn btn-warning" %>
         <% end %>
       </div>

       <%= f.link_to_add "Add a New Record", :urines, class: "btn btn-info new-record"%>

     <% end %>

       URINE :-
       <%= nested_form_for @user do |f| %>

        <div class="healthrecord">
          <%= f.fields_for :urines do |task_form| %>
             <%= task_form.hidden_field :title, value: "URINE" %>
             <%= task_form.file_field :urine_file %>
            <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
            <%= task_form.submit "submit", class: "btn btn-warning" %>
          <% end %>
        </div>

        <%= f.link_to_add "Add a New Record", :urines, class: "btn btn-info new-record"%>

      <% end %>

      XRAY :-
      <%= nested_form_for @user do |f| %>

       <div class="healthrecord">
         <%= f.fields_for :xrays do |task_form| %>
            <%= task_form.hidden_field :title, value: "X-RAY" %>
            <%= task_form.file_field :xray_file %>
           <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
           <%= task_form.submit "submit", class: "btn btn-warning" %>
         <% end %>
       </div>

       <%= f.link_to_add "Add a New Record", :xrays, class: "btn btn-info new-record"%>

     <% end %>

     CANCER MARKERS :-
     <%= nested_form_for @user do |f| %>

      <div class="healthrecord">
        <%= f.fields_for :cancer_markers do |task_form| %>
           <%= task_form.hidden_field :title, value: "URINE" %>
           <%= task_form.file_field :cancer_file %>
          <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
          <%= task_form.submit "submit", class: "btn btn-warning" %>
        <% end %>
      </div>

      <%= f.link_to_add "Add a New Record", :cancer_markers, class: "btn btn-info new-record"%>

    <% end %>

    SCOPES :-
    <%= nested_form_for @user do |f| %>

     <div class="healthrecord">
       <%= f.fields_for :scopes do |task_form| %>
          <%= task_form.hidden_field :title, value: "URINE" %>
          <%= task_form.file_field :scope_file %>
         <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
         <%= task_form.submit "submit", class: "btn btn-warning" %>
       <% end %>
     </div>

     <%= f.link_to_add "Add a New Record", :scopes, class: "btn btn-info new-record"%>

   <% end %>

   ULTRASOUND :-
   <%= nested_form_for @user do |f| %>

    <div class="healthrecord">
      <%= f.fields_for :ultrasounds do |task_form| %>
         <%= task_form.hidden_field :title, value: "URINE" %>
         <%= task_form.file_field :ultrasound_file %>
        <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
        <%= task_form.submit "submit", class: "btn btn-warning" %>
      <% end %>
    </div>

    <%= f.link_to_add "Add a New Record", :ultrasounds, class: "btn btn-info new-record"%>

  <% end %>

  CTSCan :-
  <%= nested_form_for @user do |f| %>

   <div class="healthrecord">
     <%= f.fields_for :ctscans do |task_form| %>
        <%= task_form.hidden_field :title, value: "URINE" %>
        <%= task_form.file_field :ctscan_file %>
       <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
       <%= task_form.submit "submit", class: "btn btn-warning" %>
     <% end %>
   </div>

   <%= f.link_to_add "Add a New Record", :ctscans, class: "btn btn-info new-record"%>

 <% end %>

 MRI:-
 <%= nested_form_for @user do |f| %>

  <div class="healthrecord">
    <%= f.fields_for :mris do |task_form| %>
       <%= task_form.hidden_field :title, value: "URINE" %>
       <%= task_form.file_field :mri_file %>
      <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
      <%= task_form.submit "submit", class: "btn btn-warning" %>
    <% end %>
  </div>

  <%= f.link_to_add "Add a New Record", :mris, class: "btn btn-info new-record"%>

<% end %>

PETSCan :-
<%= nested_form_for @user do |f| %>

 <div class="healthrecord">
   <%= f.fields_for :petscans do |task_form| %>
      <%= task_form.hidden_field :title, value: "URINE" %>
      <%= task_form.file_field :petscan_file %>
     <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger"%>
     <%= task_form.submit "submit", class: "btn btn-warning" %>
   <% end %>
 </div>

 <%= f.link_to_add "Add a New Record", :petscans, class: "btn btn-info new-record"%>

<% end %>








</div>
</div>

<script>

   $( ".healthrecord" ).hide();


</script>
