<div class="container">
  <p id="notice"><%= notice %></p>

        <h3 class="center animated bounceInRight"> Upload Your Medical Record</h3>
        <div class="medical_record animated fadeInUp">
          <div class="row center">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("blood.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <center>
                <%= form_for Health.new, remote: true do |f|%>
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.hidden_field :record_category_id, value: 1 %>
                <%= f.file_field :file %>

                 <%= f.submit "SUBMIT", class: "btn btn-warning"%>
               <% end %>
               <center>
                <br><br>
                <span><b>Blood</b></span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                  <%= image_tag("urine.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 2 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>

                </span>
                <br><br>
                <span><b>Urine</b></span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("xray.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 3 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>
                <br><br>
                <span><b>X-Ray</b></span>
              </div>
            </div>
          </div>

          <br>

          <div class="row center">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("ultrasound.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new  do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 4 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>
                <br><br>
                <span><b>Ultrasound</b></span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("ctscan.png", class: "img-center",  width:"100") %>
                <br>
                <br>

                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 5 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>

                <br><br>
                <span><b>CT-Scan</b></span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("mri.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 6 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>
                <br><br>
                <span><b>MRI</b></span>
              </div>
            </div>
          </div>

          <br>

          <div class="row center">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("petscan.png", class: "img-center",  width:"100") %>
                <br>
                <br>

                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 7 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>
                <br><br>
                <span><b>PET scan</b></span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                  <%= image_tag("scopes.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 8 %>
                  <%= f.file_field :file %>
                  <%= f.submit %>
                <% end %>
                <br><br>
                <span><b>Scopes</b></span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("cancermarker.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 9 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>
                <br><br>
                <span><b>Cancer Markers</b></span>
              </div>
            </div>
          </div>

          <br>

          <div class="row center">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("dental.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 10 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>
                <br><br>
                <span><b>Dental</b></span>
              </div>
            </div>



            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="well well-lg rounded shadow hover">
                <%= image_tag("others.png", class: "img-center",  width:"100") %>
                <br>
                <br>
                <%= form_for Health.new do |f|%>
                  <%= f.hidden_field :user_id, value: @user.id %>

                  <%= f.hidden_field :record_category_id, value: 11 %>
                  <%= f.file_field :file %>
                  <%= f.submit "SUBMIT", class: "btn btn-warning"%>

                <% end %>
                <br><br>
                <span><b>Others</b></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







<script>




</script>
