<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/576b5e203015183254f4cd27/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>





<div class="container">
  <p id="notice"><%= notice %></p>
  <h3> UPLOAD YOUR MEDICAL RECORD </h3>
  <div class="upload_form">
      <div class="row">
        <div class="container">
          <%= nested_form_for @user, remote: true  do |f| %>
              <div class="healthrecord" style="padding-bottom:20px">
                <%= f.fields_for :healths, remote: true do |task_form| %> <br>
                   <%#= task_form.hidden_field :record_category_id, value: 1 %>


                  <div class="col-xs-6 col-sm-6 col-md-6">
                   <%= task_form.file_field :file, class:"form-control "%>
                 </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <%= task_form.link_to_remove "Remove this record", class: "btn btn-danger btn-large"%> <br>
                </div>

                <% end %>
              </div>
              <div class="health-buttons">
                  <%= f.link_to_add "Add Record", :healths, class: "btn btn-default btn-file"%>
                  <%= f.submit "submit", class: "btn btn-warning health-submit", id: "submit-button" %>
            </div>
            <% end %>

        </div>

      </div>
  </div>

</div>

<script>


$(".btn-warning").hide();
$(".healthrecord").hide();
$(".btn-file").click(function(){
    $(".btn-warning").show();
});

$("#new_health").fileupload({
  progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    }
});

</script>







<script>




</script>
