<div class="container">
  <p id="notice"><%= notice %></p>
  <h3> UPLOAD YOUR MEDICAL RECORD </h3>
  <div class="upload_form">
      <div class="row">
        <div class="container">
        <%= form_for Health.new,class:"form-control", html: { multiple: true }, remote: true do |f|%>
            <%= f.hidden_field :user_id, value: @user.id %>
          <!-- <div class="col-xs-6 col-sm-6 col-md-6">
            STEP 1: SELECT RECORD CATEGORY
            <%#= f.select :record_category_id, RecordCategory.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, class:"form-control", required: true %>

          </div> -->
          <div class="col-xs-12 col-sm-12 col-md-12">

            STEP 1: SELECT FILE/FILES
            <br>
            <br>
            <%= f.file_field :file,class:"form-control", multiple: true, name:  "health[file]", required: true%>
          </div>
          <!-- <div class="col-xs-4 col-sm-4 col-md-4">
            <%#= f.submit "SUBMIT", class: "btn btn-danger  btn-block"%>
         </div> -->
       <% end %>
     </div>
     </div>
     <div id="progress">
       <br>
       <br>
       <br>
       STEP 2: PROGRESS
       <br>
        <div class="bar" style="width: 0%;"></div>
        <br>
        <br>
    </div>
    <div class="check_uploads">
      STEP 3: CHECK RECORDS<br>
      <br>
      <%= link_to "VIEW", health_record_path(@user), class: "btn btn-danger btn-block"%><br>
      <!-- <center>
        OR <br>
      <center> -->

    </div>

  </div>
  </div>

</div>

<script>
$("#new_health").fileupload({
  progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    }
});

</script>







<script>




</script>
