<div class="container">
    <div class="row animated bounceInLeft">
        <br>
        <div class="legend center">
            <span class=
            "label label-success value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            &nbsp; <span>Normal Range</span> &nbsp; &nbsp; &nbsp; <span class=
            "label label-danger value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp;
            <span>Abnormal</span>
        </div>
    </div>
    <br>


    <div class="cards animated bounceInRight">
        <!-- GENERAL INFO -->
        <p id="notice"><%= notice %></p>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-lg rounded">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 pull-left center">
                                <% if @user.gender == 'male' %>
                                  <%= image_tag("male.png", class: "mg-center", size: "100x100") %>
                                <% else %>
                                  <%= image_tag("female.png", class: "mg-center", size: "100x100") %>
                                <% end %>
                                </div>


                                <div class="col-xs-6 col-sm-6 col-md-6">
                                  <% if @user_bmi.present? %>
                                    <span><%= @user_bmi.height %>m</span><br>
                                    <span><%= @user_bmi.user_weigh %> kg</span>
                                    <% else%>
                                    <span>0 m</span><br>
                                    <span>0 kg</span>
                                  <% end %>

                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 pull-left">
                                    <span><b>BMI</b></span><br>
                                    <span>Body Mass Index</span>
                                </div>


                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <br>
                                    <% if @user_bmi.present? %>
                                      <% if @user_bmi.bodymassindex < 18.5 || @user_bmi.bodymassindex > 24.9 %>
                                        <span class="label label-danger value"><%= @user_bmi.bodymassindex %></span>
                                        &nbsp;
                                        <% else %>
                                        <span class="label label-success value"><%= @user_bmi.bodymassindex %></span>
                                        &nbsp;
                                        <% end %>

                                    <% else %>
                                      <span class="label label-danger value">0</span>
                                    <% end %>
                                    <span class="measurement">kg/m<sup>2</sup></span>

                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 pull-left">
                                    <br>
                                    <span><b>Blood Group</b></span>
                                </div>


                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <br>
                                    <% if @user_blood.present? %>
                                        <% if @user_blood.blood_type.present? %>
                                          <span class="label label-default value"><%= @user_blood.blood_type %></span>
                                        <% end %>

                                      <% elsif @user.blood_group.present? %>

                                        <span class="label label-default value"><%= @user.blood_group %></span>

                                      <% else %>
                                        <span class="label label-danger value">-</span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end GENERAL INFO -->

        <!-- Link -->

          <div class="legend center">
              <div class="row">
                <%= link_to "Upload Medical Record", health_upload_path(@user), class:"btn btn-primary" %>

              </div>
          </div>
          <br>
        <!-- /link -->
        <!-- CARDIOVASCULAR -->


          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="well well-lg rounded">
                      <div class="row">
                          <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                              <%= image_tag("cardiovascular.png", class: "img-center", height: "100", width:"100") %>

                              <span>Cardiovascular</span><br>
                              <br>
                          </div>

                          <div class="col-xs-12 col-sm-5 col-md-5">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                      <div class="row">
                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                              <span class="item">Blood Pressure</span>
                                          </div>


                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                            <% if @blood_pressure.present? %>
                                              <% if @blood_pressure.sbp < 100 || @blood_pressure.sbp > 140 || @blood_pressure.dpb > 90 || @blood_pressure.dpb < 60 %>
                                                  <span class=
                                                "label label-danger value"><sup><%=@blood_pressure.sbp.to_f.ceil%></sup>/<sub><%=@blood_pressure.dpb.to_f.ceil%></sub></span>
                                                <% else %>
                                                  <span class=
                                                "label label-success value"><sup><%=@blood_pressure.sbp.to_f.ceil%></sup>/<sub><%=@blood_pressure.dpb.to_f.ceil%></sub></span>

                                                <% end %>
                                              <% else %>
                                                <span class="label label-danger value">0</span>
                                            <% end %>
                                              <span class="measurement">mmHg (100-140 / 60-90)</span>

                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>


                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                      <div class="row">
                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                              <span class="item">Pulse</span>
                                          </div>


                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                            <% if @pulse.present? %>
                                              <% if @pulse.measurement.present? %>
                                                  <% if @pulse.measurement > 100 || @pulse.measurement < 60 %>
                                                    <span class="label label-danger value"><%= @pulse.measurement %></span>
                                                  <% else %>
                                                    <span class="label label-success value"><%= @pulse.measurement %></span>
                                                  <% end %>

                                                <% end %>
                                                <% else %>
                                                <span class="label label-danger value">0</span>
                                              <% end %>
                                              <span class="measurement">Beats per minute (60-100)</span>
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        <!-- end CARDIOVASCULAR -->



        <!-- RESPIRATORY -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-lg rounded">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                              <%= image_tag("respiratory.png", class: "iimg-center", height: "100", width:"100") %>
                            <span>Respiratory</span><br>
                            <br>
                        </div>


                        <div class="col-xs-12 col-sm-5 col-md-5 mid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">Respiratory Rate</span>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                          <% if @lungs != nil %>
                                            <% if @lungs.measurement < 12 || @lungs.measurement > 16 %>
                                            <span class=
                                            "label label-danger value"><%= @lungs.measurement %></span>
                                            <% else %>
                                            <span class=
                                            "label label-success value"><%= @lungs.measurement %></span>

                                            <% end %>
                                            <% else %>
                                            <span class="label label-danger value">0</span>
                                            <% end %>
                                            <span class="measurement">Breaths per minute (12 - 16)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="graph"><img alt="" class="img-responsive" src=
                                    "http://placehold.it/200x200">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end RESPIRATORY -->
        <!-- BLOOD -->


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-lg rounded">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                            <%= image_tag("blood.png", class: "img-center", height: "100", width:"100") %><br>

                            <span>Blood</span><br>
                            <br>
                        </div>


                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 mid">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">Haemoglobin</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <%if  @user_blood.present? %>
                                          <% if @user_blood.haemoglobin.present? %>
                                             <% if @user_blood.haemoglobin < 115 || @user_blood.haemoglobin > 165 %>
                                                <span class="label label-danger value"><%= @user_blood.haemoglobin %></span>
                                             <% else %>
                                                <span class="label label-success value"><%= @user_blood.haemoglobin %></span>
                                             <% end %>
                                          <% end %>
                                          <% else %>
                                            <span class="label label-danger value">0</span>
                                        <% end %>
                                        <span class="measurement">g/L (115 - 165)</span>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-blood">Show More</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="col-xs-12 col-sm-5 col-md-4">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="graph"><img alt="" class="img-responsive" src=
                                    "http://placehold.it/200x200">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end BLOOD -->
        <!-- GLUCOSE -->


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-lg rounded">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                            <%= image_tag("glucose.png", class: "iimg-center", height: "100", width:"100") %>

                            <span>Glucose</span><br>
                            <br>
                        </div>


                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">RBS</span><br>
                                            <span class="long_name">Random Blood Sugar</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                          <% if @random_glucose.present? %>
                                            <% if @random_glucose.measurement < 3.0  || @random_glucose.measurement > 7.8 %>
                                              <span class="label label-danger value"><%= @random_glucose.measurement %></span>
                                            <% else %>
                                              <span class="label label-success value"><%= @random_glucose.measurement %></span>
                                            <% end %>
                                            <% else%>
                                            <span class="label label-danger value">0</span>

                                          <% end %>

                                            <span class="measurement"> mmol/L (3.0 - 7.8)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">FBS</span><br>
                                            <span class="long_name">Fasting Blood Sugar</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                          <% if @fasting_glucose.present? %>
                                            <% if @fasting_glucose.measurement < 3.0  || @fasting_glucose.measurement > 7.8 %>
                                              <span class="label label-danger value"><%= @fasting_glucose.measurement %></span>
                                            <% else %>
                                              <span class="label label-success value"><%= @fasting_glucose.measurement %></span>
                                            <% end %>
                                            <% else %>
                                            <span class="label label-danger value">0</span>

                                          <% end %>
                                            <span class="measurement"> mmol/L (3.0 - 7.8)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">HbA1c</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <% if @user_blood.present? %>
                                            <% if @user_blood.hba1c.present? %>
                                                <% if @user_blood.hba1c.measurement < 5.7 || @user_blood.hba1c.measurement > 7.1 %>
                                                  <span class="label label-danger value"><%= @user_blood.hba1c %></span>
                                                <% else %>
                                                  <span class="label label-success value"><%= @user_blood.hba1c %></span>
                                                <% end %>
                                            <% end %>
                                          <% else %>
                                          <span class="label label-danger value">0</span>
                                        <% end %>
                                            <span class="measurement">mmol/L (5.7 - 7.1)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="graph"><img alt="" class="img-responsive" src=
                                    "http://placehold.it/200x200">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end GLUCOSE -->
        <!-- CHOLESTROL -->


          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="well well-lg rounded">
                      <div class="row">
                          <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                              <%= image_tag("cholestrol.png", class: "iimg-center", height: "100", width:"100") %><br>
                              <span>Cholesterol</span><br>
                              <br>
                          </div>


                          <div class="col-xs-12 col-sm-5 col-md-5">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                      <div class="row">
                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                              <span class="item">Total Cholesterol</span>
                                          </div>


                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                          <% if @user_blood %>
                                            <% if @user_blood.total_cholestrol.present? %>
                                              <% if @user_blood.total_cholestrol > 5.20 %>
                                                <span class="label label-danger value"><%= @user_blood.total_cholestrol %></span>

                                              <% else %>
                                                <span class="label label-success value"><%= @user_blood.total_cholestrol %></span>
                                              <% end %>

                                            <% end %>
                                            <% else %>
                                            <span class="label label-danger value">0</span>

                                          <% end %>
                                              <span class="measurement">mmol/L (&lt; 5.20)</span>
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>



                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                      <div class="row">
                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                              <span class="item">HDL</span><br>
                                              <span class="long_name">High Density Lipoprotein</span>
                                          </div>


                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                          <% if @user_blood.present? %>
                                            <% if @user_blood.hdl_cholestrol.present? %>
                                              <% if @user_blood.hdl_cholestrol < 1.03 %>
                                                <span class="label label-danger value"><%= @user_blood.hdl_cholestrol %></span>

                                              <% else %>
                                                <span class="label label-success value"><%= @user_blood.hdl_cholestrol %></span>
                                              <% end %>

                                            <% end %>
                                            <% else %>
                                            <span class="label label-danger value">0</span>

                                          <% end %>
                                              <span class="measurement">mmol/L (&gt; 1.03)</span>
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>


                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                      <div class="row">
                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                              <span class="item">LDL</span><br>
                                              <span class="long_name">Low Density Lipoprotein</span>
                                          </div>

                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                          <% if @user_blood.present? %>
                                            <% if @user_blood.ldl_cholestrol.present? %>
                                              <% if @user_blood.ldl_cholestrol > 2.58 %>
                                                <span class="label label-danger value"><%= @user_blood.ldl_cholestrol %></span>

                                              <% else %>
                                                <span class="label label-success value"><%= @user_blood.ldl_cholestrol %></span>
                                              <% end %>


                                            <% end %>
                                            <% else %>
                                            <span class="label label-danger value">0</span>
                                          <% end %>
                                              <span class="measurement">mmol/L (&lt; 2.58)</span>
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                      <div class="row">
                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                              <span class="item">Triglycerides</span>
                                          </div>

                                          <div class="col-xs-6 col-sm-6 col-md-6">
                                          <% if @user_blood.present? %>
                                            <% if @user_blood.triglycerides.present? %>
                                              <% if @user_blood.triglycerides >1.70%>
                                                <span class="label label-danger value"><%= @user_blood.triglycerides%></span>

                                              <% else %>
                                                <span class="label label-success value"><%= @user_blood.triglycerides %></span>
                                              <% end %>

                                            <% end %>
                                            <% else %>
                                            <span class="label label-danger value">0</span>

                                          <% end %>
                                              <span class="measurement">mmol/L (&lt; 1.70)</span>
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                              </div>
                          </div>


                          <!-- <div class="col-xs-12 col-sm-5 col-md-5">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12">
                                      <div class="graph"><img alt="" class="img-responsive" src=
                                      "http://placehold.it/200x200">
                                      </div>
                                  </div>
                              </div>
                          </div> -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- end CHOLESTROL -->
        <!-- KIDNEY -->


        <!-- KIDNEY -->


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-lg rounded">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                            <%= image_tag("kidney.png", class: "iimg-center", height: "100", width:"100") %>
                            <br>
                            <span>Kidney</span><br>
                            <br>
                        </div>


                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">Creatinine</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <% if @user_blood.present? %>
                                          <% if @user_blood.creatinine.present? %>
                                            <% if @user_blood.creatinine > 80 || @user_blood.creatinine < 44%>
                                              <span class="label label-danger value"><%= @user_blood.creatinine%></span>

                                            <% else %>
                                              <span class="label label-success value"><%= @user_blood.creatinine%></span>
                                            <% end %>

                                          <% end %>
                                          <% else %>
                                          <span class="label label-danger value">0</span>
                                        <% end %>
                                            <span class="measurement">umol/L (44 - 80)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">Urea</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <% if @user_blood.present? %>
                                          <% if @user_blood.urea.present? %>
                                            <% if @user_blood.urea > 8.1|| @user_blood.urea < 2.8 %>
                                              <span class="label label-danger value"><%= @user_blood.urea%></span>

                                            <% else %>
                                              <span class="label label-success value"><%= @user_blood.urea %></span>
                                            <% end %>

                                          <% end %>
                                          <% else %>
                                          <span class="label label-danger value">0</span>

                                        <% end %>
                                            <span class="measurement">mmol/L (2.8 - 8.1)</span>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-kidney">Show More</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="col-xs-12 col-sm-5 col-md-4">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="graph"><img alt="" class="img-responsive" src=
                                    "http://placehold.it/200x200">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end KIDNEY -->

<!-- THYROID -->


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-lg rounded">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                              <%= image_tag("thyroid.png", class: "iimg-center", height: "100", width:"100") %>
                            <span>Thyroid</span><br>
                            <br>
                        </div>


                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">TSH</span><br>
                                            <span class="long_name">Thyroid Stimulating Hormone</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <% if @user_blood %>
                                          <% if @user_blood.tsh.present? %>
                                            <% if @user_blood.tsh > 4.2|| @user_blood.tsh < 0.27 %>
                                              <span class="label label-danger value"><%= @user_blood.tsh%></span>

                                            <% else %>
                                              <span class="label label-success value"><%= @user_blood.tsh %></span>
                                            <% end %>
                                          <% end %>
                                          <% else %>
                                          <span class="label label-danger value">0</span>
                                        <% end %>
                                            <span class="measurement">mIU/L (0.270 - 4.200)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">T3</span><br>
                                            <span class="long_name">Triiodothyronine</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <% if @user_blood.present? %>
                                          <% if @user_blood.ft3.present? %>
                                            <% if @user_blood.ft3 > 6.8 || @user_blood.ft3 < 3.1 %>
                                              <span class="label label-danger value"><%= @user_blood.ft3%></span>

                                            <% else %>
                                              <span class="label label-success value"><%= @user_blood.ft3 %></span>
                                            <% end %>

                                          <% end %>
                                          <% else %>
                                          <span class="label label-danger value">0</span>
                                        <% end %>
                                            <span class="measurement">pmol/L (3.1 - 6.8)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <span class="item">T4</span><br>
                                            <span class="long_name">Thyroxine</span>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                        <% if @user_blood.present? %>
                                          <% if @user_blood.ft4.present? %>
                                            <% if @user_blood.ft4 > 22 || @user_blood.ft4 < 12 %>
                                              <span class="label label-danger value"><%= @user_blood.ft4%></span>

                                            <% else %>
                                              <span class="label label-success value"><%= @user_blood.ft4 %></span>
                                            <% end %>
                                          <% end %>
                                          <% else %>
                                          <span class="label label-danger value">0</span>
                                        <% end %>
                                            <span class="measurement">pmol/L (12.0 - 22.0)</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>

<!--
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="graph"><img alt="" class="img-responsive" src=
                                    "http://placehold.it/200x200">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end THYROID -->
<!-- LIVER -->


      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="well well-lg rounded">
                  <div class="row">
                      <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                          <%= image_tag("liver.png", class: "iimg-center", height: "100", width:"100") %><br>
                          <span>Liver</span><br>
                          <br>
                      </div>


                      <div class="col-xs-12 col-sm-5 col-md-5">
                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                  <div class="row">
                                      <div class="col-xs-6 col-sm-6 col-md-6">
                                          <span class="item">ALT</span><br>
                                          <span class="long_name">Alanine Aminotransferase</span>
                                      </div>


                                      <div class="col-xs-6 col-sm-6 col-md-6">
                                      <% if @user_blood.present? %>
                                        <% if @user_blood.alanine_transaminase.present? %>
                                          <% if @user_blood.alanine_transaminase >31 %>
                                            <span class="label label-danger value"><%= @user_blood.alanine_transaminase%></span>

                                          <% else %>
                                            <span class="label label-success value"><%= @user_blood.alanine_transaminase %></span>
                                          <% end %>

                                        <% end %>
                                        <% else %>
                                        <span class="label label-danger value">0</span>
                                      <% end %>
                                          <span class="measurement">U/L (&lt; 31)</span>
                                      </div>
                                  </div>
                                  <br>
                              </div>
                          </div>


                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                  <div class="row">
                                      <div class="col-xs-6 col-sm-6 col-md-6">
                                          <span class="item">AST</span><br>
                                          <span class="long_name">Aspartate Aminotransferase</span>
                                      </div>


                                      <div class="col-xs-6 col-sm-6 col-md-6">
                                      <% if @user_blood.present? %>
                                        <% if @user_blood.aspartate_transferase.present? %>
                                          <% if @user_blood.aspartate_transferase >31 %>
                                            <span class="label label-danger value"><%= @user_blood.aspartate_transferase%></span>

                                          <% else %>
                                            <span class="label label-success value"><%= @user_blood.aspartate_transferase %></span>
                                          <% end %>

                                        <% end %>
                                        <% else %>
                                        <span class="label label-danger value">0</span>

                                      <% end %>
                                          <span class="measurement">U/L (&lt; 32)</span>
                                      </div>
                                  </div>
                                  <br>
                              </div>
                          </div>


                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                  <div class="row">
                                      <div class="col-xs-6 col-sm-6 col-md-6">
                                          <span class="item">ALP</span><br>
                                          <span class="long_name">Alkaline Phosphatase</span>
                                      </div>


                                      <div class="col-xs-6 col-sm-6 col-md-6">
                                      <% if @user_blood.present? %>
                                        <% if @user_blood.alkaline_phosphate.present? %>
                                          <% if @user_blood.alkaline_phosphate > 120 || @user_blood.alkaline_phosphate < 30 %>
                                            <span class="label label-danger value"><%= @user_blood.alkaline_phosphate%></span>

                                          <% else %>
                                            <span class="label label-success value"><%= @user_blood.alkaline_phosphate %></span>
                                          <% end %>
                                        <% end %>
                                        <% else %>
                                        <span class="label label-danger value">0</span>
                                      <% end %>
                                          <span class="measurement">U/L (30 - 120)</span>
                                      </div>
                                  </div>
                                  <br>
                                  <div class="row">
                                      <div class="col-xs-6 col-sm-6 col-md-6">
                                          <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-liver">Show More</button>
                                      </div>
                                  </div>
                                  <br>
                              </div>
                          </div>
                      </div>


                      <!-- <div class="col-xs-12 col-sm-5 col-md-4">
                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                  <div class="graph"><img alt="" class="img-responsive" src=
                                  "http://placehold.it/200x200">
                                  </div>
                              </div>
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
      <!-- end LIVER -->
        <!-- URINE -->


        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="well well-lg rounded">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 domain padding">
                                              <%= image_tag("urine.png", class: "iimg-center", height: "100", width:"100") %><br>
                                            <span>Urine</span><br>
                                            <br>
                                        </div>


                                        <div class="col-xs-12 col-sm-5 col-md-5">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                                            <span class="item">Protein</span><br>
                                                        </div>


                                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                                        <% if @user_blood.present? %>
                                                          <% if @user_blood.protein.present? %>
                                                            <% if @user_blood.protein > 0.25 %>
                                                              <span class="label label-danger value"><%= @user_blood.protein%></span>

                                                            <% else %>
                                                              <span class="label label-success value"><%= @user_blood.protein%></span>
                                                            <% end %>

                                                          <% end %>
                                                          <% else %>
                                                          <span class="label label-danger value">0</span>

                                                        <% end %>
                                                            <span class="measurement">g/L (&lt; 0.25)</span>
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="row">
                                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-urine">Show More</button>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- <div class="col-xs-12 col-sm-5 col-md-4">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="graph"><img alt="" class="img-responsive" src=
                                                    "http://placehold.it/200x200">
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
        <!-- end URINE -->
    </div>
</div>



<!-- modal -->
<div class="modal fade" id="modal-blood" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Full Blood Count</h4>
      </div>
      <div class="modal-body">
        <% if @user_blood.present? %>
        <table class="table table-bordered">
            <tr>
                <th>Parameter</th>
                <th>Result</th>
                <th>Unit</th>
                <th>Range</th>
            </tr>

            <tr>
                <td>Heamoglobin</td>
                <td>
                <% if @user_blood.haemoglobin.present? %>
                  <%= @user_blood.haemoglobin %>
                <% end %>
                </td>

                <td>g/L</td>
                <td>115 - 165</td>
            </tr>

            <tr>
                <td>RBC</td>
                <td>
                <% if @user_blood.rbc.present? %>
                  <%= @user_blood.rbc%>
                <% end %>
                </td>
                <td>10^12/L</td>
                <td>3.80 - 5.80</td>
            </tr>

            <tr>
                <td>MCV</td>
                <td>
                <% if @user_blood.mcv.present? %>
                  <%= @user_blood.mcv%>
                <% end %>
                </td>
                <td>fL</td>
                <td>78 - 98</td>
            </tr>

            <tr>
                <td>HCT</td>
                <td>
                <% if @user_blood.hct.present? %>
                  <%= @user_blood.hct%>
                <% end %>
                </td>
                <td>L/L</td>
                <td>0.38 - 0.48</td>
            </tr>

            <tr>
                <td>MCH</td>
                <td>
                <% if @user_blood.mch.present? %>
                  <%= @user_blood.mch%>
                <% end %>
                </td>
                <td>pg</td>
                <td>27 - 32</td>
            </tr>

            <tr>
                <td>MCHC</td>
                <td>
                <% if @user_blood.mchc.present? %>
                  <%= @user_blood.mchc%>
                <% end %>
                </td>
                <td>g/L</td>
                <td>300 - 360</td>
            </tr>

            <tr>
                <td>RDW-CV</td>
                <td>
                <% if @user_blood.rdw_cv.present? %>
                  <%= @user_blood.rdw_cv%>
                <% end %>
                </td>
                <td>%</td>
                <td>10.0 - 15.0</td>
            </tr>

             <tr>
                <td>Neutrophils</td>
                <td>
                <% if @user_blood.neutrophils.present? %>
                  <%= @user_blood.neutrophils%>
                <% end %>
                </td>
                <td>10^9/L</td>
                <td>2.0 -  7.5</td>
            </tr>

            <tr>
                <td>Lymphocytes</td>
                <td>
                <% if @user_blood.lymphocytes.present? %>
                  <%= @user_blood.lymphocytes%>
                <% end %>
                </td>
                <td>10^9/L</td>
                <td>1.5 - 4.0</td>
            </tr>

            <tr>
                <td>Monocytes</td>
                <td>
                <% if @user_blood.monocytes.present? %>
                  <%= @user_blood.monocytes %>
                <% end %>
                </td>
                <td>10^9/L</td>
                <td>0.2 - 0.8</td>
            </tr>

            <tr>
                <td>Eosinophills</td>
                <td>
                <% if @user_blood.eosinophills.present? %>
                  <%= @user_blood.eosinophills %>
                <% end %>
                </td>
                <td>10^9/L</td>
                <td> < 0.4 </td>
            </tr>

            <tr>
                <td>Basophils</td>
                <td>
                <% if @user_blood.basophils.present? %>
                  <%= @user_blood.basophils %>
                <% end %>
                </td>
                <td>10^9/L</td>
                <td> < 0.1 </td>
            </tr>

             <tr>
                <td>Platelet Count</td>
                <td>
                <% if @user_blood.platelet_count.present? %>
                  <%= @user_blood.platelet_count %>
                <% end %>
                </td>
                <td>10^9/L</td>
                <td> 140 - 400 </td>
            </tr>

            <tr>
                <td>ESR</td>
                <td>
                <% if @user_blood.esr.present? %>
                  <%= @user_blood.esr %>
                <% end %>
                </td>
                <td>mm/hr</td>
                <td> < 25 </td>
            </tr>

            <tr>
                <td>Blood Film Comment</td>
                <td>
                <% if @user_blood.blood_film_comment.present? %>
                  <%= @user_blood.blood_film_comment %>
                <% end %>
                </td>
                <td></td>
                <td></td>
            </tr>



        </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="modal-liver" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Liver Function</h4>
      </div>
      <div class="modal-body">
        <% if @user_blood.present? %>
        <table class="table table-bordered">
            <tr>
                <th>Parameter</th>
                <th>Result</th>
                <th>Unit</th>
                <th>Range</th>
            </tr>

            <tr>
                <td>Total Protein</td>
                <td>
                <% if @user_blood.total_protein.present? %>
                  <%= @user_blood.total_protein%>
                <% end %>
                </td>
                <td>g/L</td>
                <td>64 - 83</td>
            </tr>

            <tr>
                <td>Albumin</td>
                <td>
                <% if @user_blood.albumin.present? %>
                  <%= @user_blood.albumin %>
                <% end %>
                </td>
                <td>g/L</td>
                <td>35 - 52</td>
            </tr>

            <tr>
                <td>Globulin</td>
                <td>
                <% if @user_blood.globulin.present? %>
                  <%= @user_blood.globulin %>
                <% end %>
                </td>
                <td>g/L</td>
                <td>21 - 35</td>
            </tr>

            <tr>
                <td>Bilirubin</td>
                <td>
                <% if @user_blood.bilirubin_total.present? %>
                  <%= @user_blood.bilirubin_total %></td>
                <% end %>
                <td>umol/L</td>
                <td>< 21</td>
            </tr>

            <tr>
                <td>Alkaline Phosphate</td>
                <td>
                <% if @user_blood.alkaline_phosphate.present? %>
                  <%= @user_blood.alkaline_phosphate %></td>
                <% end %>
                <td>U/L</td>
                <td>30 - 120</td>
            </tr>

            <tr>
                <td>GGT</td>
                <td>
                <% if @user_blood.ggt.present? %>
                  <%= @user_blood.ggt %></td>
                <% end %>
                <td>U/L</td>
                <td> < 50 </td>
            </tr>

            <tr>
                <td>Aspartate Transferase (AST)</td>
                <td>
                <% if @user_blood.aspartate_transferase.present? %>
                  <%= @user_blood.aspartate_transferase %></td>
                <% end %>
                <td>U/L</td>
                <td> < 32 </td>
            </tr>

            <tr>
                <td>Alanine Transaminase (ALT)</td>
                <td>
                <% if @user_blood.alanine_transaminase.present? %>
                  <%= @user_blood.alanine_transaminase %></td>
                <% end %>
                <td>U/L</td>
                <td> < 31 </td>
            </tr>
        </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="modal-kidney" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Renal Function</h4>
      </div>
      <div class="modal-body">
        <% if @user_blood.present? %>
        <table class="table table-bordered">
            <tr>
                <th>Parameter</th>
                <th>Result</th>
                <th>Unit</th>
                <th>Range</th>
            </tr>

            <tr>
                <td>Sodium</td>
                <td>
                <% if @user_blood.sodium.present? %>
                  <%= @user_blood.sodium %>
                <% end %>
                </td>
                <td>mmol/L</td>
                <td>132 - 146</td>
            </tr>

            <tr>
                <td>Pottasium</td>
                <td>
                <% if @user_blood.pottasium.present? %>
                  <%= @user_blood.pottasium %>
                <% end %>
                </td>
                <td>mmol/L</td>
                <td>3.5 - 5.1</td>
            </tr>

           <tr>
                <td>Chloride</td>
                <td>
                <% if @user_blood.chloride.present? %>
                  <%= @user_blood.chloride %>
                <% end %>
                </td>
                <td>mmol/L</td>
                <td>98 - 107</td>
            </tr>

            <tr>
                <td>Urea</td>
                <td>
                <% if @user_blood.urea.present? %>
                  <%= @user_blood.urea %>
                <% end %>
                </td>
                <td>mmol/L</td>
                <td>2.8 - 8.1</td>
            </tr>

            <tr>
                <td>Creatinine</td>
                <td>
                <% if @user_blood.creatinine.present? %>
                  <%= @user_blood.creatinine %>
                <% end %>
                </td>
                <td>umol/L</td>
                <td>143 - 339</td>
            </tr>

            <tr>
                <td>eGFR</td>
                <td>
                <% if @user_blood.egfr.present? %>
                  <%= @user_blood.egfr %>
                <% end %>
                </td>
                <td>umol/L</td>
                <td>44 - 80</td>
            </tr>

        </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="modal-urine" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Urinalysis</h4>
      </div>
      <div class="modal-body">
        <% if @user_blood.present? %>
        <table class="table table-bordered">
            <tr>
                <th>Parameter</th>
                <th>Result</th>
                <th>Unit</th>
                <th>Range</th>
            </tr>

            <tr>
                <td>Appeareance</td>
                <td>
                <% if @user_blood.urine_appearance.present? %>
                  <%= @user_blood.urine_appreance %>
                <% end %>
                </td>
                <td></td>
                <td>-</td>
            </tr>

          <tr>
                <td>Colour</td>
                <td>
                <% if @user_blood.urine_colour.present? %>
                  <%= @user_blood.urine_colour %>
                <% end %>
                </td>
                <td></td>
                <td>-</td>
            </tr>

           <tr>
                <td>Specific Gravity</td>
                <td>
                <% if @user_blood.specific_gravity.present? %>
                  <%= @user_blood.specific_gravity %>
                <% end %>
                </td>
                <td></td>
                <td>1.010 - 1.030</td>
            </tr>

            <tr>
                <td>Leucocytes</td>
                <td>
                <% if @user_blood.leucocytes.present? %>
                  <%= @user_blood.leucocytes %>
                <% end %>
                </td>
                <td></td>
                <td> < 10 </td>
            </tr>

            <tr>
                <td>Nitrite</td>
                <td>
                <% if @user_blood.nitrite.present? %>
                  <%= @user_blood.nitrite %>
                <% end %>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Protein</td>
                <td>
                <% if @user_blood.protein.present? %>
                  <%= @user_blood.protein %>
                <% end %>
                </td>
                <td>g/L</td>
                <td> < 0.25 </td>
            </tr>

            <tr>
                <td>Glucose</td>
                <td>
                <% if @user_blood.glucose.present? %>
                  <%= @user_blood.glucose %>
                <% end %>
                </td>
                <td>mmol/L</td>
                <td> < 3 </td>
            </tr>

            <tr>
                <td>Ketones</td>
                <td>
                <% if @user_blood.ketones.present? %>
                  <%= @user_blood.ketones %>
                <% end %>
                </td>
                <td>mmol/L</td>
                <td> < 0.5 </td>
            </tr>

            <tr>
                <td>Urobilinogen</td>
                <td>
                <% if @user_blood.urobilinogen.present? %>
                  <%= @user_blood.urobilinogen %>
                <% end %>
                </td>
                <td>umol/L</td>
                <td> < 17 </td>
            </tr>

            <tr>
                <td>Bilirubin</td>
                <td>
                <% if @user_blood.bilirubin_urinalysis.present? %>
                  <%= @user_blood.bilirubin_urinalysis %>
                <% end %>
                </td>
                <td>umol/L</td>
                <td> < 17 </td>
            </tr>

            <tr>

                <td>Blood</td>
                <td>
                <% if @user_blood.blood.present? %>
                  <%= @user_blood.blood %>
                <% end %>
                </td>
                <td></td>


              <td>Appeareance</td>
                <td>
                    <% if @user_blood.urine_appearance.present? %>
                      <%= @user_blood.urine_appearance %>
                    <% end %>
                </td>
                <td></td>
            </tr>

            <tr>
                <td>Epihelial Cell Count</td>
                <td>
                <% if @user_blood.epithelial_cell_count.present? %>
                  <%= @user_blood.epithelial_cell_count %>
                <% end %>
                </td>
                <td></td>

                <td>Color</td>
                <td>
                  <% if @user_blood.urine_colour.present? %>
                    <%= @user_blood.urine_colour %>
                  <% end %>
                </td>
                <td></td>
            </tr>

            <tr>
                <td>Bacteria</td>
                <td>
                <% if @user_blood.bacteria.present? %>
                  <%= @user_blood.bacteria %>
                <% end %>
                </td>
                <td></td>
                <td></td>
            </tr>

             <tr>
                <td>Others</td>
                <td>
                <% if @user_blood.others.present? %>
                  <%= @user_blood.others %>
                <% end %>

                <td>MCV</td>
                <td>
                  <% if @user_blood.mcv.present? %>
                    <%= @user_blood.mcv %>
                  <% end %>
                </td>
                <td>fL</td>
                <td>78 - 98</td>
            </tr>

            <tr>
                <td>Bacteria</td>
                <td>
                  <% if @user_blood.bacteria.present? %>
                    <%= @user_blood.bacteria %>
                  <% end %>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
