<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="css/sidebar.css" rel="stylesheet"> -->
<!-- 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<div id="wrapper">
<div class="container" id="dashboardbody">

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>


    <div class="row"  id="userdetails" >
      <h1> <%#= @user.first_name %> </h1>
      <div class="col-md-1">
        <center><h3><%=   @user.gender || " " %></h3>
      </center>
      </div>
      <div class="col-md-2" >
        <center>
        <li><h4> <%= @user.weight %> kg </h4></li>
        <li><h4> <%= @user.height%> m </h4> </li>
        </center>
      </div>
      <div class="col-md-3">
        <center>
        <h3> BMI <%= @user.weight.present? ?  @user.bmi  : " "%> </h3>
      </center>
      </div>
      <div class="col-md-3">
        <h3> BLOOD : <%= @user.blood_type %> </h3>
      </div>
      <div class="col-md-3">
        <%= link_to 'Edit Profile', edit_user_path(@user),  class: "btn btn-lg btn-danger" %>
      </div>
  </div>
    <!-- <button type="button" class="btn btn-danger" id="edit_profile">EDIT</button> -->



</div>
</div>

<script>
$( document ).ready(function() {

  $( ".basichealth" ).hide();


    $( "#dashboardbtn" ).click(function() {
      console.log("hello basichealthbtn")
      $( ".maindashboard" ).show();
      $( ".basichealth" ).hide();
    });

    $( "#basichealthbtn" ).click(function() {
      $( ".maindashboard" ).hide();
      $( ".basichealth" ).show();
    });


      $( ".questionaire" ).show();
      $( ".healthupload" ).hide();
      $( ".surveyrecord" ).hide();
      $( ".healthrecord" ).hide();

      $( "#basicbtn" ).click(function() {
        $( ".questionaire" ).show();
        $( ".healthupload" ).hide();
      });

      $( "#healthbtn" ).click(function() {
        $( ".questionaire" ).hide();
        $( ".healthupload" ).show();
      });



});


</script>
