<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>VitalSynapse - Modernising Your Healthcare</title>

  <!-- Bootstrap core CSS  + font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fast.appcues.com/appcues.min.css">


</head>

<body>
  <script src="//fast.appcues.com/18522.js"></script>
  <script>
    Appcues.identify('<%= current_user.id %>', {
        email: '<%= current_user.email %>',
        name: '<%= current_user.full_name %>',
        // Additional user properties
    });
</script>

  <!-- Navigation -->
  <%= render 'pages/theme/menu' %>




<%= yield :top_content %>

<div class="container">
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>
<!-- Footer -->
<%= render 'pages/theme/footer' %>
</body>
</html>
